<div class="show_container">
  <h1 class="show_title">Tweetの詳細</h1>
  <p class = "show_content">内容: <%= @blog.content %></p>
  <p class = "show_link"><%= link_to 'Tweet一覧', blogs_path %></p>
</div>