// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweet_container{
  margin-left: auto;
  margin-right: auto;
  height: 6rem;
}
.tweet_container{
  width: 70%;
}
.content{
  // background-color: blanchedalmond;
  width: 100%;
  font-size: 1.3rem;
}
.root{
  display: inline-block;
  // background-color: black;
  width: 100%;
  margin-bottom: 10px;
  color: white;
}
.root span{
  width: 100%;
  font-size: 1.5rem;
}
.new_post{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}
.new_post a{
  font-size: 2rem;
  width: 50%;
}
h1{
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
.root span{
  font-size: 2rem;
  margin-left: 1rem;
}
.title_index{
  text-align: center;
  font-size: 2.5rem;
}
.title_new_edit{
  text-align: center;
  font-size: 2.5rem;
}
.show_link a{
  font-size: 2rem;
}
.show_title{
  font-size: 2rem;
}
.show_content{
  font-size: 1.5rem;
}