// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweet_container{
  margin-left: auto;
  margin-right: auto;
  height: 6rem;
}
.tweet_container{
  width: 70%;
}
.index_content{
  // background-color: blanchedalmond;
  width: 100%;
  font-size: 2rem;
  word-wrap: break-word;
  max-height: 4rem;
}
.root{
  display: inline-block;
  // background-color: black;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 10px;
  color: white;
}
.root a{
  width: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  color: antiquewhite;
  margin-left: 1rem;
}
.new_post{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}
.new_post a{
  font-size: 2rem;
  width: 50%;
  text-decoration: none;
  color: antiquewhite;
}
h1{
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
.root span{
  font-size: 2rem;
  margin-left: 1rem;
}
.title_index{
  text-align: center;
  font-size: 2.5rem;
}
.title_new_edit{
  text-align: center;
  font-size: 2.5rem;
}
.show_link a{
  font-size: 2rem;
  text-decoration: none;
  color: antiquewhite;
  
}
.show_title{
  font-size: 2rem;
}
.show_content{
  font-size: 1.5rem;
}